*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
}

body{
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}
ul,li{
  list-style: none;
}


button{
  border: none;
  cursor: pointer;
}

button:focus{
  outline: none;
}

.page{
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  min-width: 480px;
  border-radius: 10px;
  padding: 50px 25px;
  margin-top: 15vh;
}
.page-title{
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  font-weight: bold;
  display: block;
  padding-bottom: 54px;
}
